---
layout: single
---

<p class="notice--primary">
  <b>Como manter esse site dá trabalho demais este site não é mais atualizado. <a href="https://anichart.net/">Usem o AniChart.</a></b><br>Além disso recomendo não assistir animes de fansubs pois é impossível cobrar ou esperar qualquer qualidade delas, já que o pagamento é o que assegura o padrão de qualidade de um produto. Enquanto este site permanecer online será apenas com o objetivo de ser um registro de um passado ruim que já superamos, ainda que amemos nos enganar e pensar que esse passado era um passado colorido e belo.
</p>

<div class="grid__wrapper">
{% for post in paginator.posts %}
  {% include archive-single.html type="grid" %}
{% endfor %}
</div>

{% include paginator.html %}

