---
layout: single
---

<p class="notice--primary">
  <b>Este site não é mais atualizado pois dá trabalho demais.<br>
  <a href="https://anichart.net/">Usem o AniChart.</a></b><br>
  Não recomendo assistir animes de fansubs: é impossível cobrar ou esperar qualquer qualidade delas pois o pagamento é o que assegura o padrão de qualidade de um produto. Enquanto este site permanecer online, será apenas com o objetivo de ser um registro de um passado inocente que já superamos.
</p>

<div class="grid__wrapper">
{% for post in paginator.posts %}
  {% include archive-single.html type="grid" %}
{% endfor %}
</div>

{% include paginator.html %}

