---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Site specific changes
.season-dropped-trailer,
.season-trailer { color: red; }
.season-dropped-active,
.season-active  { color: green; }
.season-stream  { color: blue; }

.season-dropped-trailer,
.season-dropped-active,
.season-dropped { text-decoration: line-through; }

ul li, ol li {
  margin-bottom: 0;
}

.stupidtable [data-sort] {
  cursor: pointer;
}

.sidebar ul, .sidebar h3 {
  margin-top: 0.5em;
}

.archive__item-title a {
  font-size: 0.9em;
  white-space: nowrap;
}

.graph-svg-tip.comparison li {
  overflow: hidden;
  text-overflow: ellipsis;
}

#stat-container {
  label, input {
    display: inline-block;
  }
  label {
    font-size: 0.8em;
    margin: 0 1em;
  }
}